[Unit]
Description=Run bus scraper for user %i every 2 minutes

[Timer]
OnBootSec=30sec
OnUnitActiveSec=120sec
Unit=bus-scraper@%i.service

[Install]
WantedBy=timers.target
