[Unit]
Description=Generate bus & train board HTML

[Service]
Type=oneshot
WorkingDirectory=/home/hackspace/bus
ExecStart=/home/$USER/Makerspace_Bus_Timetable_v2/bin/python /home/$USER/Makerspace_Bus_Timetable_v2/scrape_buses.py
