[Unit]
Description=Bus & Train Display (Chromium)
After=network-online.target

[Service]
User=hackspace
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/hackspace/.Xauthority

ExecStart=/usr/bin/chromium \
  --start-fullscreen \
  --noerrdialogs \
  --disable-infobars \
  --hide-crash-restore-bubble \
  file:///home/$USER/Makerspace_Bus_Timetable_v2/buses.html

Restart=always

[Install]
WantedBy=graphical.target
